@media screen and (max-width:1260px){
	#site-nav .sn-bd{width:982px;left:0;}
	#site-nav .sn-sitemap .menu-bd{width:982px;}
	.headerLayout{width:980px;}
	#header .mall-research{width:410px;}
	#header .mall-research-form input{width:276px;}
	#content .inner-con1{width:980px;}
	#content .inner-con2{width:800px;}
	#content .category-inner{width:980px;}
}
@media screen and (min-width:1260px){
	#site-nav .sn-bd{width:1230px;}
	#site-nav .sn-sitemap .menu-bd{width:1198px;}
	.headerLayout{width:1230px;}
	#header .mall-research{width:625px;}
	#header .mall-research-form input{width:491px;}
	#content .inner-con1{width:1230px;}
	#content .inner-con2{width:85%;}
	#content .category-inner{width:1230px;}
}